# IDE
.idea/
*.iml
.vscode/
.classpath
.project
.settings/

# Build
target/
out/
build/

# Logs
logs/
*.log

# Environment variables
.env
application-dev.yml
application-docker.yml
application-integration.yml
*.key
*.pem

# OS
.DS_Store
Thumbs.db

# Test
test-output/

# Test reports
target/surefire-reports/
target/failsafe-reports/

# Docker environment
.env.docker
mysql_data/